---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
const { item, collection_name } = Astro.props;
const backgroundColor = item.data.coverBackground;
---

<style define:vars={{ backgroundColor }}>
  img {
    background-color: var(--backgroundColor);
  }
</style>

<div class="bg-emerald-900/50 rounded-xl flex flex-col md:flex-row">
  <Image
    class="touch-auto rounded-xl bg-black/25 overflow-hidden object-none h-[360px] w-[740px]"
    width="360"
    height="360"
    src={item.data.cover}
    alt={item.data.coverAlt}
    loading="lazy"
  />
  <div class="p-4 w-full flex flex-col">
    <div class="text-emerald-50/50 text-sm shrink-0 flex justify-between">
      <div>[{item.data.tags[0]}]</div>
      <div>[{item.data.pubDate.toISOString().slice(0, 10)}]</div>
    </div>
    <div class="text-2xl my-4 shrink-0">{item.data.title}</div>
    <div class="grow">{item.data.description}</div>
    <a
      href={`/${collection_name}/${item.slug}`}
      class="shrink-0 mt-4 px-4 py-2 rounded-xl flex flex-row items-center gap-2
    bg-emerald-700 hover:bg-emerald-800 hover:shadow-md transition-all
      d:mx-0 md:rounded-xl duration-700 hover:duration-150"
    >
      <Icon name="link" />
      <div class="text-lg -translate-y-0.5">
        {`${collection_name}/${item.slug}`}
      </div>
    </a>
  </div>
</div>
