---
import PanelListItem from "./panel/PanelListItem.astro";
const { title, tag, date, preview_open, page_url, image_src, image_alt } =
  Astro.props;
---

<PanelListItem
  preview_open={preview_open}
  page_url={page_url}
  image_src={image_src}
  image_alt={image_alt}
>
  <div class="text-lg">
    {title}
  </div><div class="text-base text-emerald-50/50 inline-block">
    [{date}]
  </div>
  <div class="pl-2 text-base text-emerald-50/50 inline-block">
    [{tag}]
  </div>
</PanelListItem>
